deployment:
  rating_enable: false
  image: kubebb/core:v0.1.4
  imagePullPolcy: IfNotPresent
  resources:
    limits:
      cpu: 5000m
      memory: 1280Mi
    requests:
      cpu: 10m
      memory: 64Mi
webhook:
  enable: false
pvc:
  storageClassName: standard
  accessModes:
    - ReadWriteOnce
  storageSize: 5Gi
tekton:
  enable: false
