{{- if and (.Values.deployment.rating_enable) (.Capabilities.APIVersions.Has "tekton.dev/v1beta1" ) }}
apiVersion: tekton.dev/v1beta1
kind: Task
metadata:
  name: {{ .Release.Name }}-security-rback
  namespace: {{ .Release.Namespace }}
spec:
  params:
  - name: url
    type: string
  - name: component
    type: string
  - name: version
    type: string
  - name: repository
  results:
  - name: RBACCM
    type: string
  steps:
    - name: rback
      image: alpine/k8s:1.27.4
      script: |
        #!/usr/bin/env sh
        # Download and untar chart package
        helm pull --untar $(params.url)

        cat <<EOF | jq --argjson json "$(helm template $(params.component)|yq -o=json|jq --slurp)" '.items |= $json' | rback > r.dot
        {"kind": "List","apiVersion": "v1","metadata": {},"items": []}
        EOF
        
        # Path to ServiceAccount token
        SERVICEACCOUNT=/var/run/secrets/kubernetes.io/serviceaccount
        # Read this Pod's namespace
        NAMESPACE=$(cat ${SERVICEACCOUNT}/namespace)
        NAME=$(params.repository)"."$(params.component)"."$(params.version)

        cat <<EOF |jq --arg dot "$(cat r.dot |base64)" '.binaryData.r = $dot' | jq --arg name "$NAME" '.metadata.name = $name' | jq --arg namespace "$NAMESPACE" '.metadata.namespace = $namespace' | kubectl apply -f -
        {"kind": "ConfigMap","apiVersion": "v1","metadata": {"name": "configmap","namespace": "default"},"binaryData": {"r": ""}}
        EOF
        echo ${NAME} | tee $(results.RBACCM.path)
---
apiVersion: tekton.dev/v1beta1
kind: Pipeline
metadata:
  name:  {{ .Release.Name }}-security
  annotations:
    tekton.dev/tags: {{ .Release.Name }}-security
    tekton.dev/displayName: "{{ .Release.Name }}"
    tekton.dev/platforms: "linux/amd64"
  namespace: {{ .Release.Namespace }}
spec:
  description: >-
    kubebb-core default pipeline
  params:
    - name: COMPONENT_NAME
      description: >-
        component name
    - name: REPOSITORY_NAME
      description: repository name
      default: "kubebb"
    - name: VERSION
      description: component version
    - name: URL
      description: the full URL of the component tgz file.
  results:
  - name: HELM_LINT
    value: $(tasks.{{ .Release.Name }}-helm-lint.results.LINT)
  - name: RBACCM
    value: $(tasks.{{ .Release.Name }}-rback.results.RBACCM)
  tasks:
    - name: {{ .Release.Name }}-rback
      retries: 2
      taskRef:
        resolver: cluster
        params:
        - name: kind
          value: task
        - name: name
          value: {{ .Release.Name }}-security-rback
        - name: namespace
          value: {{ .Release.Namespace }}
      params:
        - name: url
          value: $(params.URL)
        - name: component
          value: $(params.COMPONENT_NAME)
        - name: version
          value: $(params.VERSION)
        - name: repository
          value: $(params.REPOSITORY_NAME)
{{- end }}
